body::before {
    display: block;
    content: '';
    height: 60px;
}

a {
    color: aliceblue;
    margin: 20px
}

a:hover {
    color: green;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#up {
    color: green;
}

img {
    border-radius: 15px;
    padding: 15px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}